<section class="mat-typography demo-container" i18n-dir dir="ltr">
  <h1 i18n>Angular 10+ Cron Expression Editor</h1>

  <mat-card class="demo-card">
    <mat-card-header class="demo-card-header">
      <mat-card-title i18n> Select your cron flavor </mat-card-title>
      <div>
        <mat-form-field>
          <mat-label i18n>Flavor</mat-label>
          <mat-select
            (change)="cronFlavorChange()"
            [(ngModel)]="cronOptions.cronFlavor"
          >
            <mat-option [value]="'quartz'" i18n> Quartz </mat-option>

            <mat-option [value]="'standard'" i18n> Standard </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-header>

    <mat-card-content class="demo-card-content">
      <form>
        <cron-editor
          #cronEditorDemo
          [formControl]="cronForm"
          [options]="cronOptions"
        ></cron-editor>
      </form>
    </mat-card-content>

    <mat-card-footer class="demo-card-footer">
      <div>
        <h3>
          <b i18n>Expression: {{ cronForm.value }}</b>
        </h3>
      </div>
    </mat-card-footer>
  </mat-card>
</section>
